In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
delieveries_df = pd.read_csv('/content/deliveries.csv')
matches_df = pd.read_csv('/content/matches.csv')

In [3]:
delieveries_df.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
22429,96,1,Chennai Super Kings,Mumbai Indians,18,1,MS Dhoni,S Badrinath,RR Raje,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
131117,553,2,Delhi Daredevils,Rajasthan Royals,11,6,AD Mathews,JP Duminy,JP Faulkner,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
102204,431,2,Rajasthan Royals,Pune Warriors,10,2,AM Rahane,R Dravid,AD Mathews,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
107874,455,2,Rajasthan Royals,Sunrisers Hyderabad,14,1,BJ Hodge,SV Samson,KV Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
132312,558,2,Rajasthan Royals,Sunrisers Hyderabad,11,2,SPD Smith,DJ Hooda,KV Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [4]:
matches_df.sample(5)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
315,316,2012,Visakhapatnam,2012-04-09,Deccan Chargers,Mumbai Indians,Deccan Chargers,bat,normal,0,Mumbai Indians,0,5,RG Sharma,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,AK Chaudhary,JD Cloete,NaN
202,203,2010,Delhi,2010-03-31,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,67,0,KD Karthik,Feroz Shah Kotla,HDPK Dharmasena,SJA Taufel,NaN
408,409,2013,Chandigarh,2013-04-21,Pune Warriors,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,7,DA Miller,"Punjab Cricket Association Stadium, Mohali",M Erasmus,K Srinath,NaN
459,460,2014,Abu Dhabi,2014-04-18,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Sheikh Zayed Stadium,RK Illingworth,C Shamshuddin,NaN